* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: #ecedf2;
}

.container {
  width: 1140px;
  margin: 1em auto;
}

.container .search {
  height: 100px;
  margin-bottom: 30px;
  line-height: 50px;
  display: flex;
  justify-content: space-between;
}

.search .title {
  width: 80px;
  background-color: #5488d5;
  color: #fff;
  text-align: center;
  border-radius: 10px 0 0 10px;
}

.search .types {
  flex-grow: 1;
  background-color: #fff;
  color: #666;
  font-size: 14px;
}

.type-list {
  display: flex;
  padding-left: 20px;
}

.type-list .radio {
  padding-left: 30px;
  margin-right: 30px;
  position: relative;
  cursor: pointer;
}

.radio::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 50%;
}

.radio::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 4px;
  transform: translateY(-50%) scale(0);
  width: 14px;
  height: 14px;
  background-color: #5f89cf;
  border-radius: 50%;
  transition: 0.25s;
}

.radio.checked::after {
  transform: translateY(-50%) scale(1);
}

.search .keyword {
  background-color: #fff;
  padding-right: 30px;
}

.keyword > form {
  width: 300px;
  height: 40px;
  margin-top: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.keyword > form input {
  border: none;
  outline: none;
  width: 260px;
  font-size: 12px;
  padding-left: 1em;
}

.keyword > form button {
  width: 40px;
  height: 20px;
  border: none;
  border-left: 1px solid #ccc;
  cursor: pointer;
  background: url("./search_icon.png") no-repeat center;
}

.container .list {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  justify-items: center;
  row-gap: 20px;
  text-align: center;
  color: #333;
  font-size: 14px;
}

.list img {
  display: block;
  width: 77px;
  height: 77px;
  margin-bottom: 5px;
  border: 2px solid #5f89cf;
  border-radius: 10px 0 10px 0;
}