* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
}

.container {
  width: 80%;
  margin: 30px auto;
  /* display: grid; */
  /* grid-template-columns: repeat(5, 1fr); */
  /* 要想通过纯CSS实现瀑布流布局，需要借助网格布局，并且将grid-template-rows的值设置为masonry */
  /* 但这个值目前有很大的兼容性问题，不推荐使用 */
  /* grid-template-rows: masonry; */
  /* gap: 20px; */
}

.container img {
  animation: scale 0.6s;
  /* width: 100%; */
  /* height: 100%; */
}

@keyframes scale {
  from {
    transform: scale(0);
    opacity: 0;
  }
}

.spin {
  width: 20px;
  height: 20px;
  margin: 0 auto;
  margin-bottom: 30px;
  border: 7px dashed #4b9cdb;
  padding: 20px;
  border-radius: 50%;
  animation: loading 2s linear infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}