body {
  background-color: #000;
  color: #666;
  text-align: center;
}

audio {
  width: 500px;
  margin-bottom: 50px;
}

.container {
  height: 420px;
  overflow: hidden;
}

.lrc {
  list-style-type: none;
  padding: 0;
  margin: 0;
  transition: 0.5s;
}

.lrc li {
  height: 30px;
  line-height: 30px;
  transition: 0.2s;
}

.lrc li.active {
  color: #fff;
  transform: scale(1.3);
}