* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
}

.container {
  position: relative;
  width: 600px;
  height: 400px;
  margin: 0 auto;
  margin-top: 150px;
  background: url("./imgs/bg.jpg") no-repeat center -1100px;
}

.container > p {
  position: absolute;
  top: -30px;
  font-size: 22px;
  color: #fff;
  font-weight: bold;
}

.container .content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
}

.content > span {
  margin: 0 8px;
  color: #fff;
  font-weight: bold;
}

.content .time-item {
  overflow: hidden;
  width: 65px;
  height: 120px;
}

.time-item img {
  display: block;
  width: 65px;
  height: 120px;
}